body {
margin: 0;
padding: 0;
font-size: 16px;
font-family: 'EBGaramond';
src: local('EBGaramond'), url(./assets/fonts/EB_Garamond/static/EBGaramond-Medium.ttf) format('opentype');
}
 
#map {
position: absolute;
top: 0;
bottom: 0;
width: 100%;
}
 
h1 {
font-size: 23px;
line-height: 25px;
}
 
h2 {
font-size: 16px;
line-height: 15px;
margin-bottom: 10px;
}
 
a {
text-decoration: none;
color: #b40505fb;
}
 
#console {
position: absolute;
margin: 15px;
width: 240px;
height: 395px;
background-color:rgb(251, 248, 224);
padding: 5px 20px;
border-radius: 10px; 
}
 
.session {
margin-bottom: 10px;
margin-top: 10px;
}
 
.row {
height: 12px;
width: 100%;
}

.time {
    height: 10px;
    width: 100%;
    margin: 0px;
    }
 
.label {
width: 15%;
display: inline-block;
flex-wrap: wrap;
text-align: center;
background-color:rgb(251, 248, 224);
}

.radio {
    flex-wrap: wrap;
    background-color:rgb(251, 248, 224);
}